{% extends "base.html" %}
{% load static %}
{% block content %}

    {% if uniq_constraints %}
        <div class="row mt-2">
            <div class="col-md-6">
                <strong>multiple unique names detected: </strong> <br>

                {% for dup in uniq_constraints %}
                    => {{ dup }} <br>
                {% endfor %}
                <br>
                <br>
            </div>
        </div>
    {% else %}
        <div class="row mt-2">
            <div class="col-md-6">
                Import / Export
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-2">
                            <a class="btn btn-primary" href="{% url 'export_download_json' %}"> Download Export
                                JSON </a>
                        </div>
                        <div class="col-10">
                            <form method="post" enctype="multipart/form-data"
                                  action="{% url 'import_upload_json' %}">
                                {% csrf_token %}
                                <input type="file" name="document">
                                <button class="btn btn-primary" type="submit"> Upload Import JSON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <div class="row">
                        <div class="col-2">
                            <a class="btn btn-primary" href="{% url 'export_download_csv' %}"> Download Export
                                CSV </a>
                        </div>
                        <div class="col-10">
                            <form method="post" enctype="multipart/form-data"
                                  action="{% url 'import_upload_csv' %}">
                                {% csrf_token %}
                                <input type="file" name="document">
                                <button class="btn btn-primary" type="submit"> Upload Import CSV</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
