{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><em class="fas fa-users"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% trans "Current participants" %}</span>
                    <span class="info-box-number">{{ participants_current|default_if_none:"0" }}</span>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><em class="fas fa-comments"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% trans "Performed meetings" %}</span>
                    <span class="info-box-number">{{ performed_meetings }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><em class="fa fa-person-booth"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% trans "Rooms" %}</span>
                    <span class="info-box-number">{{ rooms.count }}</span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1"><em class="fas fa-server"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% trans "Server" %}</span>
                    <span class="info-box-number">{{ servers.count }}</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><em class="fas fa-trophy"></em></span>
                <div class="info-box-content">
                    <span class="info-box-text">{% trans "Participants max" %}</span>
                    <span class="info-box-number">
                        {{ general_parameter.participant_total_max|default_if_none:"0" }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for tenant in tenants %}
            <div class="col-md-12">
                <div class="info-box bg-info">
                    <span class="info-box-icon"><em class="far fa-building"></em></span>

                    <div class="info-box-content">
                        <span class="info-box-text">{{ tenant.name }} | {{ tenant.description }}</span>
                        <span class="info-box-number">{% trans "Utilization" %} {{ tenant.get_utilization_percent }}%</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: {{ tenant.get_utilization_percent }}%"></div>
                        </div>
                        <span class="progress-description">
                  {{ tenant.get_utilization }} {% trans "of" %} {{ tenant.get_utilization_max }}
                </span>
                    </div>
                </div>
                {% if tenant.get_servers_up.count > 0 %}
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-borderless">
                            <caption class="d-none">{% trans "Static Table" %}</caption>
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-left">{% trans "Server" %}</th>
                                <th scope="col" class="text-left d-none d-lg-table-cell">{% trans "Rooms" %}</th>
                                <th scope="col" class="text-left">{% trans "Participants" %}</th>
                                <th scope="col" class="text-left">{% trans "Videostreams" %}</th>
                                <th scope="col" class="text-left">{% trans "Utilization" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for server in tenant.get_servers_up %}
                                <tr>
                                    <td>{{ server.dns }}</td>
                                    <td class="d-none d-lg-table-cell">{{ server.room_set.all.count }}</td>
                                    <td>{{ server.get_participant_count }} / {{ server.participant_count_max }}</td>
                                    <td>{{ server.get_videostream_count }} / {{ server.videostream_count_max }}</td>
                                    <td>{% include "snippet_progress_bar.html" with progress=server.get_utilization_percent %} {{ server.get_utilization_percent }}%</td>

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
